<nav>
  <ul>
    <li>
      <a href="#">Shop</a>
    </li>
    <li><a href="#">Menu</a></li>
  </ul>

  <ul>
    <li><a href="#">Right Button Active</a></li>
    <li><a href="#">Right Button Dropdown</a>
      <ul>
        <li><a href="#">First link in dropdown</a></li>
        <li><a href="#">Active link in dropdown</a></li>
      </ul>
    </li>
  </ul>

  <ul>
    <li><a href="/products">Products</a></li>
  </ul>
</nav>
